.#{$prefix}-breadcrumbs{
    font-weight: $font_semi_bold;
    padding: 15px 0;
    background-color: $color_light_gray;
    @include border-bottom();
    border-color: $color_light_gray;
    margin-top: 8px;
    ul{
        @extend %reset-ul;
        display: flex;
        flex-wrap: wrap;
        
        li{
            padding: 0 60px 0 0;
            position: relative;
            &:after{
                content: '\f054';
                display:block;
                font-family: fontAwesome;
                position: absolute;
                right: 23px;
                top: 50%;
                @include transform(translateY(-50%));
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
    }
}
