.desktop{
    ul{
        &.#{$prefix}-nav-menu{
            >li{
                position: relative;
                .sub-menu{
                   >li{
                       position: relative;
                       .sub-menu{
                           >li{
                               .sub-menu{
                                   top: 20%;
                                   left: 100%;
                                   overflow: hidden;
                                   visibility: hidden;
                                   @include transition(all,1s,ease);
                               }
                               &:hover,
                               &:focus-within{
                                    .sub-menu{
                                        opacity: 1;
                                        height: auto;
                                        overflow: visible;
                                        visibility: visible;
                                        top: 0;
                                    }
                               }
                           }
                       }
                   }
                }
                
            }
        }
    
    }
}